<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/"><%=t("header.appname")%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <% if current_user %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <%= render "shared/header/header_admin_links" if current_user.admin %>
                <%= render "shared/header/header_student_links" if !current_user.admin %>
            </ul>
            <ul class="navbar-nav">

                <div class="form-inline">
                    <%if I18n.locale == :en %>
                        <%= link_to "Česky", set_language_czech_path, class: "btn btn-outline-primary" %>
                    <% else %>
                        <%= link_to "English", set_language_english_path, class: "btn btn-outline-primary" %>
                    <% end %>
                </div>
                <li class="nav-item">
                    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>            
                </li>
            </ul>
        </div>
    <% end %>
</nav>
  
  
