<%= form_with(model: aliance, local: true) do |form| %>
  
  <%= render "shared/errors", object: aliance %>
  
  <div class="form-group">
    <%= form.label t("alliance.name")+" "+t("general.public") %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t("alliance.founder") %>
    <input name="founder-placeholder" class="form-control" disabled="true" value="<%=current_user.fullname %>">
  </div>

  <div class="form-group">
    <%= form.label t("alliance.description")+" "+t("general.public") %>
    <%= form.text_area :note, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between">
    <%= link_to t("general.cancel"), aliances_path, class: "btn btn-outline-secondary" %>
    <%= form.submit t("general.submit"),class: "btn btn-primary" %>
  </div>
<% end %>
