<div class="container">
  <div class="row">
    <div class="col-12">

      <h1><%=t("alliance.alliance")%></h1>
      <p>
      <%=t("alliance.purpose_info")%>
      </p>

       <hr>
        <p><%=t("alliance.you_can_join")%></p>
        <p><%=t("alliance.you_can_also")%>
          <div class="text-center">
            <%= link_to t("alliance.create"), new_aliance_path, class:"btn btn-success btn-lg" %>
          </div>
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%=t("alliance.name")%></th>
              <th><%=t("alliance.description")%></th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @aliances.each do |aliance| %>
              <tr>
                <td><%= aliance.name %></td>
                <td><%= aliance.note %></td>
                <td><%= link_to t("alliance.join"), alliance_membership_requests_path(aliance_id:  aliance.id), method: :post, class: "btn btn-primary" if current_user.aliance.nil? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
