<p id="notice"><%= notice %></p>

<h1>Aliances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Founder</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aliances.each do |aliance| %>
      <tr>
        <td><%= aliance.name %></td>
        <td><%= aliance.founder %></td>
        <td><%= aliance.note %></td>
        <td><%= link_to 'Show', aliance %></td>
        <td><%= link_to 'Edit', edit_aliance_path(aliance) %></td>
        <td><%= link_to 'Destroy', aliance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aliance', new_aliance_path %>
