<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          <%=t("alliance.alliance") %>
        </div>
        <table class="table mb-0">
          <tbody>
            <tr><td><strong><%=t("alliance.name")%></strong></td><td><%= @aliance.name %></td></tr>
            <tr><td><strong><%=t("alliance.description")%></strong></td> <td><%= @aliance.note %></td> </tr>
            <% if @aliance.founder == current_user %>
              <tr>
                <td colspan="2" class="text-center">
                  <%= link_to t("alliance.edit"), edit_aliance_path(@aliance), class: "btn btn-warning"  %>
                  <%= link_to t("alliance.destroy"), @aliance, method: :delete, data: {confirm: t("alliance.destroy_confirmation")}, class: "btn btn-danger"  %>
                </td> 
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if current_user.pending_alliance %>
    <!-- START pending request to alliance -->
    <div class="col-md-6">
      <div class="alert alert-warning">
	<%= t("alliance.pending_request_info")%>
        <%= link_to t("alliance.cancel_request"), 
            alliance_membership_request_path(current_user.alliance_membership_request), 
            method: :delete, 
            data: {confirm: t("alliance.cancel_request_confirm")},
            class: "btn btn-danger mt-2"
        %> 
      </div>
    </div>
    <!-- END pending request to alliance -->
    <% else %>
    <!-- START inside alliance -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><%=t("alliance.members")%></div>
        <div class="table-responsive">
          <table class="table mb-0">
            <thead><th><%=t("alliance.member_name")%></th><th><%=t("activerecord.attributes.user.email")%></th><th></th></thead>
            <tbody>
              <% @aliance.users.each do |user| %>
                <tr>
                  <td><%= user.fullname %></td>
                  <td><%= user.email %></td>
                  <td>
                    <% unless user == @aliance.founder %>
                      <%= link_to t("alliance.remove_member"), 
                          remove_member_aliance_path(@aliance, {user_id: user.id }), 
                          method: :post,
                          class: "btn btn-danger" 
                      %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header"><%=t("alliance.requests")%></div>
        <% if @aliance.alliance_membership_requests.blank? %>
          <div class="card-body">
            <%=t("alliance.no_requests")%>
          </div>
        <% else %>
          <div class="table-responsive">
            <table class="table mb-0">
              <thead><th><%=t("alliance.member_name")%></th><th><%=t("activerecord.attributes.user.email")%></th><th colspan="2"></th></thead>
              <tbody>
                <% @aliance.alliance_membership_requests.each do |membership| %>
                  <tr>
                    <td><%= membership.user.fullname %></td>
                    <td><%= membership.user.email %></td>
                    <td><%= link_to t("alliance.accept"), accept_alliance_membership_request_path(membership), class:"btn btn-primary", method: :post %> </td>
                    <td><%= link_to t("alliance.dismiss"), membership, method: :delete, class:"btn btn-danger" %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>

    </div>
    <!-- END inside alliance -->
    <% end %>
  </div>
</div>


