<%= form_with(model: user, local: true) do |form| %>
  <%= render "shared/errors", object: user %>
  
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", disabled: !current_user.admin %>
  </div>

  <div class="form-group">
    <%= form.label :fullname %>
    <%= form.text_field :fullname, class: "form-control", disabled: !current_user.admin%>
  </div>

  <div class="form-group">
    <%= form.label :male do %> <%=t("general.sex.gender") %> <%end%>
    <%= form.select :male, [[t("general.sex.male"), true], [t("general.sex.female"), false]], {}, {class: "form-control", disabled: !current_user.admin } %>
  </div>

  <div class="form-group">
    <%= t("users.edit.reserved_place")+": " %> 
    <% if @user.place %>
      <%= link_to @user.place.name, places_path({building: @user.place.building, floor: @user.place.floor})  %>
    <% else %>
      <%= t("general.none") %> 
    <% end %>

  </div>


  <div class="form-group">
    <%= t("activerecord.attributes.place.primary_claim") +":" %>
    <% if @user.primary_claim %>
      <%= link_to @user.primary_claim.name, places_path({building: @user.primary_claim.building, floor: @user.primary_claim.floor})  %>
    <% else %>
      <%= t("general.none") %> 
    <% end %>
  </div>


  <div class="form-group">
    <%= t("activerecord.attributes.place.secondary_claim") +":" %>
    <% if @user.secondary_claim %>
      <%= link_to @user.secondary_claim.name, places_path({building: @user.secondary_claim.building, floor: @user.secondary_claim.floor})  %>
    <% else %>
      <%= t("general.none") %> 
    <% end %>
  </div>
  

  <hr>
  <div class="form-group">
    <%= form.label :password %><br />
    <%= form.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <p class="note">
      (leave blank if you don't want to change it)
        <br />
        6 characters minimum
    </p>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :room_type %>
    <%= form.text_field :room_type, class: "form-control", disabled: !current_user.admin%>
  </div>


  <div class="form-group form-check">
    <%= form.check_box :same_sex_room, class: "form-check-input" %>
    <%= form.label :same_sex_room, class: "form-check-label" %>
  </div>

  <div class="form-group form-check">
    <%= form.check_box :same_sex_cell, class: "form-check-input" %>
    <%= form.label :same_sex_cell, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= form.label :note %>
    <%= form.text_area :note, class: "form-control" %>
  </div>

  <div class="actions">
    <%= link_to 'Back', users_path, class: "btn btn-outline-secondary"  if current_user.admin %>
    <%= form.submit t("general.save"), class: "btn btn-primary" %>

  </div>
<% end %>
