<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%=t("header.users")%></h1>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t("general.id") %> </th>
              <th><%=t("activerecord.attributes.user.fullname") %></th>
              <th><%=t("general.sex.gender") %></th>
              <th><%=t("activerecord.attributes.user.same_sex_room") %></th>
              <th><%=t("activerecord.attributes.user.same_sex_cell") %></th>
              <th><%=t("activerecord.attributes.user.primary_claim") %></th>
              <th><%=t("activerecord.attributes.user.secondary_claim") %></th>
              <th><%=t("activerecord.attributes.user.note") %></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %>
                   <button onclick="navigator.clipboard.writeText(<%=user.id%>)" class="btn btn-primary">Kopírovat</button>
                 </td>
                <td><%= user.fullname %></td>
                <td><%= user.male == nil ? "" : user.male ? t("general.sex.male") : t("general.sex.female")%></td>
                <td><%= user.same_sex_room == nil ? "" : user.same_sex_room ? t("general.ano") : t("general.ne")%></td>
                <td><%= user.same_sex_cell == nil ? "" : user.same_sex_cell ? t("general.ano") : t("general.ne")%></td>
                <td><%= user.primary_claim&.room_name %></td>
                <td><%= user.secondary_claim&.room_name %></td>
                <td><%= user.note %></td>
                <td><%= link_to t("general.edit"), edit_user_path(user), class:"btn btn-info" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @users %>
    </div>
  </div>
</div>
