<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Male:</strong>
  <%= @user.male %>
</p>

<p>
  <strong>Same sex room:</strong>
  <%= @user.same_sex_room %>
</p>

<p>
  <strong>Same sex cell:</strong>
  <%= @user.same_sex_cell %>
</p>
<p>
  <strong>Note:</strong>
  <%= @user.note %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
