<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <div class="actions mb-2">
          <%= f.submit "Send me reset password instructions", class: "btn btn-success" %>
        </div>
        <%= link_to "< Log in", new_session_path(resource_name), class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>