<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%=t("header.switch_rooms")%></h1>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <%= t("switch.requests_made") %>
      </div>
      <ul class="list-group list-group-flush">
        <% if @requests_made.length > 0  %>
          <% @requests_made.each do |req| %>
            <li class="list-group-item"> 
              <%= req.user_requested.place.name %> 
              <%= link_to t("general.cancel"), 
                  switch_room_path(req), 
                  class: "btn btn-danger",
                  method: :delete,
                  data: {confirm: t("general.are_you_sure") }
              %>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item">
            <%= t("switch.no_outgoing_requests") %> <%= link_to t("header.reservations"), places_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <%= t("switch.incoming_requests") %>
      </div>
      <table class="table">
        <tr><th><%= t("activerecord.models.place")%></th><th><%=t("switch.note")%></th><th></th>
        <% if @requests_incoming.length > 0  %>
          <% @requests_incoming.each do |req| %>
            <tr> 
              <td>
                <%= link_to places_path({building: req.user_requesting.place.building, floor: req.user_requesting.place.floor}) do %>
                <strong><%= req.user_requesting.place.name %></strong>
                <% end %>
              </td>
              <td><%= req.note %></td>
              <td>
                <%= link_to t("switch.accept"), 
                            accept_switch_room_path(req), 
                            class: "btn btn-primary",
                            method: :post,
                            data: { confirm: t("general.are_you_sure")}
                %>
                <%= link_to t("switch.decline"), 
                    switch_room_path(req), 
                    class: "btn btn-danger",
                    method: :delete,
                    data: {confirm: t("general.are_you_sure") }
                %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr><td colspan="3"><%=t("switch.no_incoming_requests")%></td></tr>
        <% end %>
      </table>
    </div>
  </div>
    
</div>
