<%= form_with(model: app_setting, local: true) do |form| %>
  <%= render "shared/errors", object: app_setting %>


  <div class="field">
    <%= form.label :first_round_start %>
    <%= form.datetime_select :first_round_start %>
  </div>

  <div class="field">
    <%= form.label :second_round_start %>
    <%= form.datetime_select :second_round_start %>
  </div>

  <div class="field">
    <%= form.label :third_round_start %>
    <%= form.datetime_select :third_round_start %>
  </div>

  <div class="field">
    <%= form.label :fourth_round_start %>
    <%= form.datetime_select :fourth_round_start %>
  </div>

  <div class="field">
    <%= form.label :is_running %>
    <%= form.check_box :is_running %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
