<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>App Settings</h1>

      <%= form_with(model: @app_settings, local: true) do |form| %>
        <% if @app_settings.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(app_setting.errors.count, "error") %> prohibited this app_setting from being saved:</h2>

            <ul>
            <% @app_settings.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label t("settings.first_round") %>
          <%= form.datetime_select :first_round_start %>
        </div>

        <div class="field">
          <%= form.label t("settings.fourth_round") %>
          <%= form.datetime_select :second_round_start %>
        </div>

        <div class="field">
          <%= form.label t("settings.third_round") %>
          <%= form.datetime_select :third_round_start %>
        </div>

        <div class="field">
          <%= form.label t("settings.fourth_round") %>
          <%= form.datetime_select :fourth_round_start %>
        </div>

        <div class="field">
          <%= form.label t("settings.running") %>
          <%= form.check_box :is_running %>
        </div>

        <div class="actions">
          <%= form.submit t("general.save"), class: 'btn btn-primary' %>
        </div>
      <% end %>


    </div>
  </div>
</div>

