<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>App Settings</h1>

      <%= form_with(model: @app_settings, local: true) do |form| %>
        <%= render "shared/errors", object: @app_settings %>


        <div class="field">
          <%= form.label t("settings.first_round") %>
          <%= form.datetime_select :first_round_start %>
        </div>

        <div class="field">
          <%= form.label t("settings.fourth_round") %>
          <%= form.datetime_select :second_round_start %>
        </div>

        <div class="field">
          <%= form.label t("settings.third_round") %>
          <%= form.datetime_select :third_round_start %>
        </div>

        <div class="field">
          <%= form.label t("settings.fourth_round") %>
          <%= form.datetime_select :fourth_round_start %>
        </div>

        <div class="field">
          <%= form.label t("settings.running") %>
          <%= form.check_box :is_running %>
        </div>

        <div class="actions">
          <%= form.submit t("general.save"), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class="col-12">
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Akce</div>
            <div class="card-body">
              <%= link_to "Poslat přivítací mail všem neodeslaným uživatelům", send_welcome_mails_app_settings_path, method: :post, class: "btn btn-primary" %>
              <br>
              Počet poslaných mailů: <%= @users_welcome_sent_count %>/<%= @users_count %>
              <hr>

              <%= link_to "Poslat omlouvací mail všem neodeslaným uživatelům", send_apollogize_mails_app_settings_path, method: :post, class: "btn btn-primary" %>
              <br>
              Počet poslaných mailů: <%= @users_apollogize_sent_count %>/<%= @users_count %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

