<p id="notice"><%= notice %></p>

<p>
  <strong><%=t("settings.first_round")%>:</strong>
  <%= @app_setting.first_round_start %>
</p>

<p>
  <strong><%=t("settings.second_round")%>:</strong>
  <%= @app_setting.second_round_start %>
</p>

<p>
  <strong><%=t("settings.third_round")%>:</strong>
  <%= @app_setting.third_round_start %>
</p>

<p>
  <strong><%=t("settings.fourth_round")%>:</strong>
  <%= @app_setting.fourth_round_start %>
</p>

<p>
  <strong><%=t("settings.running")%></strong>
  <%= @app_setting.is_running %>
</p>

<%= link_to 'Edit', edit_app_setting_path(@app_setting) %> |
<%= link_to 'Back', app_settings_path %>
