<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Reservations</h1>

      <% if current_user.place %>
        <div class="alert alert-success" role="alert">
          You have reservation for room <%= room_full current_user.place %>.
        </div>
      <% else %>
        <div class="alert alert-warning" role="alert">
          You don't have any place reserved yet. Choose one of the available places below.
        </div>
      <% end %>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">Select place</div>
        <div class="card-body">
          <div class="mb-3">
            Building: 
            <% for building in @buildings do %>
              <%= link_to(
                    @params.merge(building: building), 
                    {class: "btn btn#{'-outline' unless @params[:building] == building}-info mb-2"}
                  ) do 
              %>
                <%= building %>
                <%= render partial: "places_count", locals: {places_count: Place.places_count(current_user, building)} %>
              <% end %>
            <% end %>
          </div>
          <% if @params[:building] %>
            <div>
              Floor: 
              <% for floor in @floors do %>
                <%= link_to( 
                      @params.merge(floor: floor), 
                      class: "btn btn#{'-outline' unless @params[:floor].to_i == floor}-info mb-2"
                    ) do
                %>
                  <%= floor %>
                  <%= render partial: "places_count", locals: {places_count: Place.places_count(current_user, @params[:building], floor.to_s)} %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% if @cells %>
  <div class="row">
    <div class="col-12">
      <h1>Places</h1>
      <div class="row">
        <% @cells.each do |cell, places| %>
          <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
              <h5 class="card-header"><%= cell %>
                  <%= render partial: "places_count", locals: {places_count: Place.places_count(current_user, @params[:building], @params[:floor], cell)} %>
              </h5>
              <ul class="list-group list-group-flush">
                <% places.each do |place| %>
                  <li class="list-group-item">
                    <%= room_full(place) %>
                    <!-- USER -->
                    <% if !current_user.admin %>
                      <!-- available -->
                      <% if place.available?(current_user) %>
                        <%= link_to "Make a reservation", 
                            place_reservations_create_path(place_id: place.id), 
                            class: "btn btn-success",
                            method: :post,
                            data: current_user.place.nil? ? nil : {confirm: "You have already reserved room #{room_full(current_user.place)}. Are you sure to change it?" } 
                        %>
                      <!-- reserved by me -->                     
                      <% elsif place.user === current_user %>
                        <%= link_to "Cancel reservation", 
                            place_reservations_destroy_path(place_id: place.id), 
                            class: "btn btn-warning",
                            method: :delete,
                            data: { confirm: 'Are you sure?' }
                        %>
                      <!-- reserved by someone else / not matching sex -->                     
                      <% else %>
                        <% if place.availability_status(current_user) == :unavailable_different_sex %>
                          <%= button_tag "Sex mismatch", 
                              class: "btn btn-danger",
                              disabled: true %>
                        <% else %>
                            <%= button_tag "Reserved", 
                              class: "btn btn-danger",
                              disabled: true %>
                        <%end%>
                      <% end %>

                    <!-- ADMIN -->
                    <% else %>
                      <%= link_to 'Edit', edit_place_path(place), class:"btn btn-primary" %>
                      <%= link_to 'Destroy', place, 
                          method: :delete,
                          data: { confirm: 'Are you sure?' }, 
                          class:"btn btn-danger disabled"
                      %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

</div>
