<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%=t("reservation.reservation")%></h1>

      <% if @current_user_place and !current_user.admin%>
        <div class="alert alert-success" role="alert">
          <%=t("reservation.existing_reservation")%> <%= room_full @current_user_place %>.
        </div>
      <% elsif !current_user.admin %>
        <div class="alert alert-warning" role="alert">
          <%=t("reservation.no_reservation")%>
        </div>
      <% end %>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">Select place</div>
        <div class="card-body">
          <div class="mb-3">
            <%=t("reservation.building")%>:
            <% for building in @buildings do %>
              <%= link_to(
                    @params.merge(building: building), 
                    {class: "btn btn#{'-outline' unless @params[:building] == building}-info mb-2"}
                  ) do 
              %>
                <%= building %>
                <%= render partial: "places_count", locals: {places_count: Place.places_count(current_user, building)} %>
              <% end %>
            <% end %>
          </div>
          <% if @params[:building] %>
            <div>
              <%=t("reservation.floor")%>: 
              <% for floor in @floors do %>
                <%= link_to( 
                      @params.merge(floor: floor), 
                      class: "btn btn#{'-outline' if @params[:floor].nil? || @params[:floor].to_i != floor}-info mb-2"
                    ) do
                %>
                  <%= floor %>
                  <%= render partial: "places_count", locals: {places_count: Place.places_count(current_user, @params[:building], floor.to_s)} %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% if @cells %>
  <div class="row">
    <div class="col-12">
      <h1><%=t("reservation.cells")%></h1>
      <div class="row">

        <% @cells.each do |cell, places| %>
          <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
              <h5 class="card-header"><%= cell %>
                  <%= render partial: "places_count", locals: {places_count: Place.places_count(current_user, @params[:building], @params[:floor], cell)} %>
                  <% if  !current_user.admin? && (AppSetting.first.current_round == :fourth or @current_user_place && AppSetting.first.current_round == :third && @current_user_place.cell.to_s == cell.to_s)%>
                    
                    <%= link_to t("reservation.move_alliance"), 
                        reservations_create_for_alliance_places_path(aliance_id: current_user.aliance.id, cell: cell), 
                        class: "btn btn-success",
                        method: :post if current_user.aliance
                    %>
                  <% end %>
              </h5>
              <ul class="list-group list-group-flush">
                <% places.each do |place| %>
                  <li class="list-group-item">
                    <strong> <%= link_to_if current_user.admin?, place.name, edit_place_path(place) %> </strong>
                    <!-- USER -->
                    <% if !current_user.admin %>
                      <!-- available -->
                      <% if place.available?(current_user) %> 
                        <%= link_to t("reservation.reserve"), 
                            place_reservations_create_path(place_id: place.id), 
                            class: "btn btn-success",
                            method: :post,
                            data: @current_user_place.nil? ? nil : {confirm: t("reservation.existing_reservation")+" #{room_full(@current_user_place)}. "+ t("reservation.confirm_change") } 
                        %>

                      <!-- reserved by me -->                     
                      <% elsif place.user === current_user %>
                        <%= link_to t("reservation.cancel"), 
                            place_reservations_destroy_path(place_id: place.id), 
                            class: "btn btn-warning",
                            method: :delete,
                            data: { confirm: t("reservation.confirm_cancel") }
                        %>

                      <!-- wrong round -->               
                      <% elsif place.availability_status(current_user) == :unavailable_round %>
                        <%= button_tag t("reservation.wrong_round"), 
                          class: "btn btn-danger",
                          disabled: true %>

                      <!-- wrong room type -->                     
                      <% elsif place.availability_status(current_user) == :unavailable_wrong_type %>
                        <%= button_tag t("reservation.wrong_type"),  
                            class: "btn btn-danger",
                            disabled: true 
                        %>
                      <!-- not matching sex -->                  
                      <% elsif place.availability_status(current_user) == :unavailable_different_sex %>
                        <%= button_tag t("reservation.wrong_sex"), 
                            class: "btn btn-danger",
                            disabled: true %>
                      <!-- reserved by someone else -->
                      <% else %>
                          <%= button_tag t("reservation.taken_" + (place.user.male ? "male" : "female")), 
                            class: "btn btn-danger",
                            disabled: true %>
                          <% if false && !@current_user_place.nil? and current_user.switch_room_requests_made.size === 0%>
                              <%= link_to t("reservation.send_switch_room_request"), new_switch_room_path({place_id: place.id}), class: 'btn btn-info' %>
                          <% end %>
                      <% end %>

                      <% if current_user.aliance_id == place.user&.aliance_id && current_user != place.user %>
                        <br>
                        <%= t("reservation.here_lives") %>: <%= place.user.fullname %> 
                      <% end %>

                    <!-- ADMIN -->
                    <% else %>
                    <%= link_to t("general.edit"), edit_place_path(place), class:"btn btn-primary" %>
                      <br>
                      bydlí: 
                      <% if place.user %>
                        <%= link_to place.user.fullname, edit_user_path(place.user) %>;
                        <% if place.user.same_sex_cell %> 
                          Na buňce pouze
                        <% elsif place.user.same_sex_room %>
                          Na pokoj pouze
                        <% end %>
                        <%= place.user.male ? "muž" : "žena"%>;
                      <% else %>
                        Volno
                      <% end %>

                      
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

</div>
