<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Select place</div>
        <div class="card-body">
          <div>
            Building: 
            <% for building in @buildings do %>
              <%= link_to building, 
                  @params.merge(building: building), 
                  class: "btn btn#{'-outline' unless @params[:building] == building}-info"
              %>
            <% end %>
          </div>
          <% if @params[:building] %>
            <div>
              Floor: 
              <% for floor in @floors do %>
                <%= link_to floor, 
                    @params.merge(floor: floor), 
                    class: "btn btn#{'-outline' unless @params[:floor].to_i == floor}-info"
                %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% if @cells %>
  <div class="row">
    <div class="col-12">
      <h1>Places</h1>

      <div class="row">
        <% @cells.each do |cell, places| %>
          <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
              <h5 class="card-header"><%= cell %></h5>
              <ul class="list-group list-group-flush">
                <% places.each do |place| %>
                  <li class="list-group-item">
                    <%= room_full(place) %>
                    <!-- USER -->
                    <% if !current_user.admin %>
                      <!-- available -->
                      <% if place.available? %>
                        <%= link_to "Make a reservation", 
                            place_reservations_create_path(place_id: place.id), 
                            class: "btn btn-success",
                            method: :post,
                            data: current_user.place.nil? ? nil : {confirm: "You have already reserved room #{room_full(current_user.place)}. Are you sure to change it?" } 
                        %>
                      <!-- reserved by me -->                     
                      <% elsif place.user === current_user %>
                        <%= link_to "Cancel reservation", 
                            place_reservations_destroy_path(place_id: place.id), 
                            class: "btn btn-warning",
                            method: :delete,
                            data: { confirm: 'Are you sure?' }
                        %>
                      <!-- reserved by someone else / unavailable -->                     
                      <% else %>
                        <%= link_to "Unavailable", 
                            place_reservations_create_path(place_id: place.id), 
                            class: "btn btn-danger disabled" 
                        %>
                      <% end %>

                    <!-- ADMIN -->
                    <% else %>
                      <%= link_to 'Edit', edit_place_path(place), class:"btn btn-primary" %>
                      <%= link_to 'Destroy', place, 
                          method: :delete,
                          data: { confirm: 'Are you sure?' }, 
                          class:"btn btn-danger disabled"
                      %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

</div>
