<p id="notice"><%= notice %></p>

<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Building</th>
      <th>Floor</th>
      <th>Cell</th>
      <th>Room</th>
      <th>Bed</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.building %></td>
        <td><%= place.floor %></td>
        <td><%= place.cell %></td>
        <td><%= place.room %></td>
        <td><%= place.bed %></td>
        <td><%= place.user %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
