<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header/header" %>
    <%= render "shared/alerts" %>
    <div class="content">
      <%= yield %>
    </div>
    <footer class="bg-light mt-auto py-4">
      <div class="container">
        <div class="row">
          <div class="col">
            <small>
            Favicons made by <a href="https://www.flaticon.com/authors/recep-kutuk" title="Recep Kutuk">Recep Kutuk</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </small>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
